[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-cov = "*"
c2 = {path = "."}
cmd2 = "*"

[dev-packages]
pytest = "*"
c2 = {path = ".", editable = true}

[requires]
python_version = "3.8"
